@*@model PmTool.UI.Models.PageBossPM*@

@{
	ViewBag.Title = "Boss PM";
}

<h2>PageBossPM</h2>

<h2>Labs</h2>

<p>
	@*@Html.ActionLink("Create New", "ChooseProjects")*@

<div>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create New</button>
</div>
</p>

<p>
	@Html.ActionLink("Create New", "CreateLabProject")
</p>
<table class="table">
	<tr>
		<th>
			<p>Id del Labs</p>
		</th>
		<th>
			<p>Nombre del Labs</p>
		</th>
		<th>
			<p>Descripcion del Labs</p>
		</th>
		<th></th>
	</tr>
	@*@foreach (var item in Model.Labs)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Lab_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Lab_request_id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Lab_request_id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Lab_request_id })
				@Html.ActionLink("Assign", "Assign", new { id = item.Lab_request_id })
			</td>
		</tr>
	}*@
</table>
<h2>Factory</h2>

<p>
	@Html.ActionLink("Create New", "CreateFactoryProject")
</p>
<table class="table">
	<tr>
		<th>
			<p>Id del Factory</p>
		</th>
		<th>
			<p>Nombre del Factory</p>
		</th>
		<th>
			<p>Descripcion del Factory</p>
		</th>
		<th></th>
	</tr>
	@*@foreach (var item in Model.Factories)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Factory_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Factory_request_id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Factory_request_id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Factory_request_id })
				@Html.ActionLink("Assign", "Assign", new { id = item.Factory_request_id })
			</td>
		</tr>
	}*@
</table>
<h2>Data Center</h2>

<p>
	@Html.ActionLink("Create New", "CreateDataCenterProject")
</p>

<table class="table">
	<tr>
		<th>
			<p>Id del Data Center</p>
		</th>
		<th>
			<p>Nombre del Data Center</p>
		</th>
		<th>
			<p>Descripcion del Data Center</p>
		</th>
		<th></th>
	</tr>
	@*@foreach (var item in Model.DataCenters)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.DataCenter_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.DataCenter_request_id }) |
				@Html.ActionLink("Details", "Details", new { id = item.DataCenter_request_id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.DataCenter_request_id })
				@Html.ActionLink("Assign", "Assign", new { id = item.DataCenter_request_id })
			</td>
		</tr>
	}*@
</table>
<h2>Office</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Office</p>
		</th>
		<th>
			<p>Nombre del Office</p>
		</th>
		<th>
			<p>Descripcion del Office</p>
		</th>
		<th></th>
	</tr>
	@*@foreach (var item in Model.Offices)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Office_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Office_request_id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Office_request_id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Office_request_id })
				@Html.ActionLink("Assign", "Assign", new { id = item.Office_request_id })
			</td>
		</tr>
	}*@
</table>
<h2>Other Project</h2>

<p>
	@Html.ActionLink("Create New", "CreateOtherProject")
</p>

<table class="table">
	<tr>
		<th>
			<p>Id del Other Projec</p>
		</th>
		<th>
			<p>Descripcion del Other Projec</p>
		</th>
		<th></th>
	</tr>
	@*@foreach (var item in Model.OtherProjects)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Other_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Other_request_id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Other_request_id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Other_request_id })
				@Html.ActionLink("Assign", "Assign", new { id = item.Other_request_id })
			</td>
		</tr>
	}*@
</table>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">What kind of project you want to create?</</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="container">
						<div>
							<input type="button" name="GoCreatelabProjectButton" class="btn btn-primary btn-lg" value="Lab project" onclick="location.href='@Url.Action("CreateLabProject","Lab")'" />
						</div>
						<br />
						<div>
							<input type="button" name="GoCreateDataCenterProjectButton" class="btn btn-primary btn-lg" value="Data center project" onclick="location.href='@Url.Action("CreateDataCenterProject","DataCenter")'" />
						</div>
						<br />
						<div>
							<input type="button" name="GoCreateFactoryProjectButton" class="btn btn-primary btn-lg" value="Factory project" onclick="location.href='@Url.Action("CreateFactoryProject","Factory")'" />
						</div>
						<br />
						<div>
							<input type="button" name="GoCreateOfficeProjectButton" class="btn btn-primary btn-lg" value="Office project" onclick="location.href='@Url.Action("CreateOfficeProject","Office")'" />
						</div>
						<br />
						<div>
							<input type="button" name="GoCreateOtherProjectButton" class="btn btn-primary btn-lg" value="Other project" onclick="location.href='@Url.Action("CreateOtherProject","OtherProject")'" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
