@model PmTool.UI.Models.PageBossPM

@{
	ViewBag.Title = "PageBossPM";
}

<h2>PageBossPM</h2>

<h2>Labs</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Labs</p>
		</th>
		<th>
			<p>Nombre del Labs</p>
		</th>
		<th>
			<p>Descripcion del Labs</p>
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model.Labs)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Lab_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				<input type="button" name="GoEditlabProjectButton" class="btn-link" value="Edit" onclick="location.href='@Url.Action("EditLabProject","Lab",  new { id = item.Lab_request_id })'" /> |
				<input type="button" name="GoDetaillabProjectButton" class="btn-link" value="Details" onclick="location.href='@Url.Action("DetailsLabProject","Lab",  new { id = item.Lab_request_id })'" /> |
				@Html.ActionLink("Delete", "Delete", new { id = item.Lab_request_id }) |
				<input type="button" name="GoAssignlabProjectButton" class="btn-link" value="Assign" onclick="location.href='@Url.Action("AssignLabProject","Lab",  new { id = item.Lab_request_id})'" />

			</td>
		</tr>
	}
</table>
<h2>Factory</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Factory</p>
		</th>
		<th>
			<p>Nombre del Factory</p>
		</th>
		<th>
			<p>Descripcion del Factory</p>
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model.Factories)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Factory_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				<input type="button" name="GoEditFactoriesProjectButton" class="btn-link" value="Edit" onclick="location.href='@Url.Action("EditFactoryProject","Factory",  new { id = item.Factory_request_id })'" /> |
				<input type="button" name="GoDetailFactoriesProjectButton" class="btn-link" value="Details" onclick="location.href='@Url.Action("DetailsFactoryProject","Factory",  new { id = item.Factory_request_id })'" /> |
				@Html.ActionLink("Delete", "Delete", new { id = item.Factory_request_id }) |
				<input type="button" name="GoAssignFactoriesProjectButton" class="btn-link" value="Assign" onclick="location.href='@Url.Action("AssignFactoryProject","Factory",  new { id = item.Factory_request_id })'" />

			</td>
		</tr>
	}
</table>
<h2>Data Center</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Data Center</p>
		</th>
		<th>
			<p>Nombre del Data Center</p>
		</th>
		<th>
			<p>Descripcion del Data Center</p>
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model.DataCenters)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.DataCenter_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				<input type="button" name="GoEditDataCentersProjectButton" class="btn-link" value="Edit" onclick="location.href='@Url.Action("EditLabProject","Lab",  new { id = item.DataCenter_request_id })'" /> |
				<input type="button" name="GoDetailDataCentersProjectButton" class="btn-link" value="Details" onclick="location.href='@Url.Action("DetailsLabProject","Lab",  new { id = item.DataCenter_request_id })'" /> |
				@Html.ActionLink("Delete", "Delete", new { id = item.DataCenter_request_id }) |
				<input type="button" name="GoAssignDataCentersProjectButton" class="btn-link" value="Assign" onclick="location.href='@Url.Action("AssignLabProject","Lab",  new { id = item.DataCenter_request_id })'" /> |


			</td>
		</tr>
	}
</table>
<h2>Office</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Office</p>
		</th>
		<th>
			<p>Nombre del Office</p>
		</th>
		<th>
			<p>Descripcion del Office</p>
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model.Offices)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Office_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				<input type="button" name="GoEditOfficesProjectButton" class="btn-link" value="Edit" onclick="location.href='@Url.Action("EditOfficeProject","Lab",  new { id = item.Office_request_id })'" /> |
				<input type="button" name="GoDetailOfficesProjectButton" class="btn-link" value="Details" onclick="location.href='@Url.Action("DetailsOfficeProject","Lab",  new { id = item.Office_request_id })'" /> |
				@Html.ActionLink("Delete", "Delete", new { id = item.Office_request_id }) |
				<input type="button" name="GoDetailAssignProjectButton" class="btn-link" value="Assign" onclick="location.href='@Url.Action("AssignOfficeProject","Lab",  new { id = item.Office_request_id })'" /> |

			</td>
		</tr>
	}
</table>
<h2>Other Project</h2>
<table class="table">
	<tr>
		<th>
			<p>Id del Other Projec</p>
		</th>
		<th>
			<p>Descripcion del Other Projec</p>
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model.OtherProjects)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Other_request_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Project_description)
			</td>
			<td>
				<input type="button" name="GoEditOtherProjectButton" class="btn-link" value="Edit" onclick="location.href='@Url.Action("EditOtherProject","Lab",  new { id = item.Other_request_id })'" /> |
				<input type="button" name="GoDetailOtherProjectButton" class="btn-link" value="Details" onclick="location.href='@Url.Action("DetailsOtherProject","Lab",  new { id = item.Other_request_id })'" /> |
				@Html.ActionLink("Delete", "Delete", new { id = item.Other_request_id }) |
				<input type="button" name="GoAssignOtherProjectButton" class="btn-link" value="Assign" onclick="location.href='@Url.Action("AssignOtherProject","Lab",  new { id = item.Other_request_id })'" /> |

			</td>
		</tr>
	}
</table>
