@model IEnumerable<PmTool.UI.Models.Users>

@{
    ViewBag.Title = "UserProfileManagement";
}


<h2>User Profile Management</h2>
<br />
<p>
    @Html.ActionLink("Create new user", "CreateUserAccount")
</p>
<br />

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr>
            <th>
                @Html.Label("Id")
            </th>
            <th>
                @Html.Label("Name")
            </th>
            <th>
                @Html.Label("Type")
            </th>
            <th>
                @Html.Label("Password")
            </th>
            <th>
                @Html.Label("Phone")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Age")
            </th>
            <th>
                @Html.Label("Secure question 1")
            </th>
            <th>
                @Html.Label("Secure question 2")
            </th>
            <th>
                @Html.Label("Secure question 3")
            </th>
            <th>@Html.Label("Actions")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_secure_question_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_secure_question_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_secure_question_3)
                </td>
                <td>
                    <div class="btn-toolbar" role="group">
                        <div class="btn-group" role="group">@Html.ActionLink(" ", "EditUserAccount", new { userId = item.User_id }, new { @class = "glyphicon glyphicon-pencil" }) |</div>
                        <div class="btn-group" role="group">@Html.ActionLink(" ", "UserDetails", new { userId = item.User_id }, new { @class = "glyphicon glyphicon-eye-open" }) |</div>
                        <div class="btn-group" role="group">@Html.ActionLink(" ", "DeleteUserAccount", new { userId = item.User_id }, new { @class = "glyphicon glyphicon-remove" })</div>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>