@model PmTool.UI.Models.Users

@{
    ViewBag.Title = "UserDetails";
}

<h2>User Details</h2>

<div>
    <h4>Users</h4>
    <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("Id")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_id)
                </dd>

                <dt>
                    @Html.Label("Name")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_name)
                </dd>

                <dt>
                    @Html.Label("Type")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_type)
                </dd>

                <dt>
                    @Html.Label("Password")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_password)
                </dd>

                <dt>
                    @Html.Label("Phone")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_phone)
                </dd>

                <dt>
                    @Html.Label("Email")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_email)
                </dd>

                <dt>
                    @Html.Label("Age")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_age)
                </dd>

                <dt>
                    @Html.Label("Secure question 1")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_secure_question_1)
                </dd>

                <dt>
                    @Html.Label("Secure question 2")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_secure_question_2)
                </dd>

                <dt>
                    @Html.Label("Secure question 3")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User_secure_question_3)
                </dd>

            </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditUserAccount", new { userId = Model.User_id }) |
        @Html.ActionLink("Back", "UserProfileManagement")
    </p>
